body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:934px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:22px;
  width:133px;
  height:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:881px;
  top:22px;
  width:53px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:40px;
  top:60px;
  width:894px;
  height:780px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:780px;
}
#u5 {
  position:absolute;
  left:2px;
  top:382px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:60px;
  width:894px;
  height:150px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:150px;
}
#u7 {
  position:absolute;
  left:2px;
  top:67px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:70px;
  width:160px;
  height:90px;
  font-size:72px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:90px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:280px;
  top:160px;
  width:120px;
  height:40px;
  font-size:28px;
  text-decoration:underline;
  color:#666666;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:500px;
  top:160px;
  width:120px;
  height:40px;
  font-size:28px;
  text-decoration:underline;
  color:#666666;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:40px;
  top:210px;
  width:894px;
  height:80px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:80px;
}
#u15 {
  position:absolute;
  left:2px;
  top:32px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:50px;
  top:220px;
  width:100px;
  height:60px;
  font-size:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:280px;
  top:230px;
  width:100px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:560px;
  top:230px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:420px;
  top:230px;
  width:100px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:700px;
  top:230px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:280px;
  top:264px;
  width:100px;
  height:16px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:420px;
  top:264px;
  width:100px;
  height:16px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:560px;
  top:264px;
  width:100px;
  height:16px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:700px;
  top:264px;
  width:100px;
  height:16px;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:50px;
  top:330px;
  width:300px;
  height:60px;
  font-size:48px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:60px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:760px;
  top:680px;
  width:150px;
  height:150px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u37 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:530px;
  top:680px;
  width:150px;
  height:150px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u39 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:310px;
  top:680px;
  width:150px;
  height:150px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u41 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:760px;
  top:460px;
  width:150px;
  height:150px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u43 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:530px;
  top:460px;
  width:150px;
  height:150px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u45 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:310px;
  top:460px;
  width:150px;
  height:150px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u47 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:90px;
  top:680px;
  width:150px;
  height:150px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u49 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:90px;
  top:460px;
  width:150px;
  height:150px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u51 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
