            body{
                  margin-top: 0px;
                  padding-left:40px ;
                  padding-right:40px;
             }
             .ttop{
              height: 40px;
             }
             .top_link:link{
              font-size: 20px;
              color: #666666;
              text-decoration: none;
             }
             .top{
             	height:200px;
                  background-color: #CCCCCC;
                  margin-bottom: 20px
             }
             .txt{
              font-size: 50px;
              color: #FFFFFF;
             }