body{
	margin: 0px;
	padding: 0px;
	background-attachment: fixed;
	font-family: sans-serif;
}
/*mainFrame*/
#try{
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
}
#mainFrame{
	margin-left: 2%;
	border: none;
	width:96%;
	overflow: hidden;
	/*border: 1px #000 solid;*/
}
/*mainFrame*/

.mask{
	width:100%;
	height: 100%;
	background-color: #000;
	position: fixed;
	top:0px;
	left:0px;
	opacity: .5;
}
.pop{
	border: 1px solid yellow;
	width:60%;
	height: 70%;
	background-color: white;
	position: fixed;
    left: 20%;
    top:15%;
}
#sBtn{
	width:10px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	right:1%;
	top:1%;
}
#sBtn:hover{
	opacity: .7;
}

/*tooltip下拉框*/
.tooltip{
	border: 1px solid yellow;
	width:40%;
	height: 50%;
	background-color:#ffdcb9;
	position: fixed;
    left: 30%;
    top:25%;
}

#title{
	color: #ff8000;
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top:10%;
	left: 10%;
}
#accountname{
	border: .5px #ccc solid;
	resize:none;
	background-attachment: fixed;
	overflow: hidden;
    position: absolute;
    left:30%;
    top:30%;
    width: 40%;
    height:20px;
    font-size: 20px;
    color:#ff8000;
    background-color: #fff;
    display: inline-block;
}
#password{
	border: .5px #ccc solid;
	resize:none;
	background-attachment: fixed;
	overflow: hidden;
    position: absolute;
    left:30%;
    top:45%;
    width: 40%;
    height:20px;
    font-size: 20px;
    color: #ff8000;
    background-color: #fff;
    display: inline-block;
}
.submit{
	color: white;
	background-color: #ff8000;
	outline: none;
	border: none;
	position: absolute;
	left: 30%;
	top:55%;
	height:20px;
	width:60px;
}
.submit:hover{
	opacity: .7;
}
#checkbox{
	position: absolute;
	left: 42%;
	top:55%;
	font-size: 20px;
}
#readonly{
	color: #ff8000;
	position: absolute;
	left: 45.5%;
	top:52%;
	font-size: 12px;
}