body{
	overflow: hidden;
	background-repeat: no-repeat;/*背景图不重复*/
	background-size: cover;/*背景图不被放大缩小,包括缩小浏览器和ctrl+-*/
	background-attachment: fixed;/*缩小窗口会自动缩小到背景图比例*/
	margin: 0px;
	padding: 0px;
	position: relative;
	font-family: Arial Black;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="image"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
border: 0;
outline : 0;
}    /*//去除火狐的focus下的虚线边框。*/

/*topbar*/
#topBar{
	overflow: hidden;
	margin: 0 auto;
	width:100%;
	height:40px;
	background-color: #ff8000;
	display: inline-block;
	
}
#logo{
	height:80%;
	position: relative;
	top:10%;
	left: 5%;
}
#search{
	background-attachment: fixed;
	overflow: hidden;
    position: relative;
    left:50%;
    top:10%;
    width: 30%;
    height:70%;
    background-color: #ff8000;
    display: inline-block;
}
#sIcon{
	width: 8%;
    position: relative;
    opacity: .7;
}
#sIcon:hover{
	opacity: 1;
}
/*消除点击产生的虚线*/
#sIcon:focus{
    outline :none;
    border: none;
}
.searchArea{
	opacity: .7;
	border: 1px solid #fff;
	position: relative;
	bottom: 12%;
	left:-2%;
	resize:none;
	overflow-x:visible;
	overflow-y:hidden; 
	width:84%;
	height:70%;
	font-size: 100%;

}
.searchArea:hover{
	opacity: 1;
}
.searchArea:focus{
	border: 1px solid yellow;
	opacity: 1;
}
#logIn{
	height:100%;
	position: relative;
	bottom: 20%;
	left:52%;
	outline: none;
	border: 1px solid #ff8000;
	background-color: #ff8000;
	color: white;
	font-weight: bold;
	font-size: 100%;
	opacity: .7;
}
#logIn:hover{
	opacity: 1;
}
#logIn:focus{
	content: "mmd";
}
/*topbar*/

/*mainBar*/
#mainBar{
	overflow: hidden;
	background-attachment: fixed;
	margin: 0 auto;
	width: 100%;
	height:600px;
	margin-top: 100px;
	background-color: #fff;
	display: inline-block;
}
.board{
	background-color: #ffdcb9;
	width: 30%;
	height:45%;
}
#board2{
	position: relative;
	top:-45%;
	left:35%;
}
#board3{
	position: relative;
	top:-90%;
	left:70%;
}
#board4{
	position: relative;
	top:-80%;
	left:0%;
}
#board5{
	position: relative;
	top:-125%;
	left:35%;
}
#board6{
	position: relative;
	top:-170%;
	left:70%;
}

.title{
    width: 100%;
    border: none;
    background-color: #ff8000;
    color: #fff;
    font-size: 150%;
    font-weight: bold;
}
.title:hover{
    opacity: .7;
}
/*mainBar*/


/*弹出层*/

/*弹出层*/